/node_modules
/public/hot
/public/storage
/public/uploads
/public/upload
/storage/*.key
/storage/log/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
laravels.conf
laravels.pid
install.lock
composer
/public/Plugins/*